node_modules
member.db
package-lock.json
data/member.db
yarn.lock
member0801.db
memberLOCKED.db
emptdbsql.txt
data/member.db-journal
data/member.rar
data/memberTemplate.rar
data/memberFreshDBimportFrom655323.rar
.vscode/launch.json
data/member.db-shm
data/member.db-wal
data/memberNov1-2020.rar
